@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #00467F;
    --background: 220 100% 98.5%;
    --foreground: 220 10% 1%;

    --muted: 220 10% 92.5%;
    --muted-foreground: 220 5% 42.5%;

    --popover: 220 10% 92.5%;
    --popover-foreground: 220 10% 1.25%;

    --card: 220 10% 92.5%;
    --card-foreground: 220 10% 1.25%;

    --border: 220 15% 90%;
    --input: 220 15% 90%;

    --primary: 220 100% 25%;
    --primary-foreground: 220 2% 92.5%;

    --secondary: 220 5% 96.25%;
    --secondary-foreground: 220 7% 12.5%;

    --accent: 220 5% 96.25%;
    --accent-foreground: 220 7% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 220 100% 25%;

    --radius: 0.5rem;

    /* New colors */
    --success: 142 76% 36%;
    --success-foreground: 142 100% 98%;

    --warning: 38 92% 50%;
    --warning-foreground: 38 100% 98%;

    --info: 200 100% 50%;
    --info-foreground: 200 100% 98%;
  }

  .dark {
    --gradient: #1A2980;

    --background: 246 42.9% 2.4%;
    --foreground: 246 6.6% 96.5%;

    --muted: 246 33% 9%;
    --muted-foreground: 246 6.6% 53%;

    --popover: 246 51.8% 3.9%;
    --popover-foreground: 246 6.6% 96.5%;

    --card: 246 51.8% 3.9%;
    --card-foreground: 246 6.6% 96.5%;

    --border: 246 33% 9%;
    --input: 246 33% 9%;

    --primary: 246 66% 30%;
    --primary-foreground: 246 6.6% 96.5%;

    --secondary: 246 33% 9%;
    --secondary-foreground: 246 6.6% 96.5%;

    --accent: 246 33% 9%;
    --accent-foreground: 246 6.6% 96.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 246 6.6% 96.5%;

    --ring: 246 66% 30%;

    /* New colors for dark mode */
    --success: 142 76% 36%;
    --success-foreground: 142 100% 98%;

    --warning: 38 92% 50%;
    --warning-foreground: 38 100% 98%;

    --info: 200 100% 50%;
    --info-foreground: 200 100% 98%;
  }

  .primaryText {
    color: var(--primary);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}