@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #00467F;
    --background: 220 100% 98.5%;
    --foreground: 220 10% 1%;

    --muted: 220 10% 92.5%;
    --muted-foreground: 220 5% 42.5%;

    --popover: 220 10% 92.5%;
    --popover-foreground: 220 10% 1.25%;

    --card: 220 10% 92.5%;
    --card-foreground: 220 10% 1.25%;

    --border: 220 15% 90%;
    --input: 220 15% 90%;

    --primary: 220 100% 25%;
    --primary-foreground: 220 2% 92.5%;

    --secondary: 220 5% 96.25%;
    --secondary-foreground: 220 7% 12.5%;

    --accent: 220 5% 96.25%;
    --accent-foreground: 220 7% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 220 100% 25%;

    --radius: 0.5rem;

    /* New colors */
    --success: 142 76% 36%;
    --success-foreground: 142 100% 98%;

    --warning: 38 92% 50%;
    --warning-foreground: 38 100% 98%;

    --info: 200 100% 50%;
    --info-foreground: 200 100% 98%;
  }

  .dark {
    --gradient: #283c86;

    --background: 241 35.1% 2.72%;
    --foreground: 241 5.4% 96.7%;

    --muted: 241 27% 10.200000000000001%;
    --muted-foreground: 241 5.4% 53.4%;

    --popover: 241 54.2% 4.42%;
    --popover-foreground: 241 5.4% 96.7%;

    --card: 241 54.2% 4.42%;
    --card-foreground: 241 5.4% 96.7%;

    --border: 241 27% 10.200000000000001%;
    --input: 241 27% 10.200000000000001%;

    --primary: 241 54% 34%;
    --primary-foreground: 241 5.4% 96.7%;

    --secondary: 241 27% 10.200000000000001%;
    --secondary-foreground: 241 5.4% 96.7%;

    --accent: 241 27% 10.200000000000001%;
    --accent-foreground: 241 5.4% 96.7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 241 5.4% 96.7%;

    --ring: 241 54% 34%;
  }

  .primaryText {
    color: var(--primary);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

.bg-gray-900 {
  background-color: #1a202c;
  /* Tailwind gray-900 */
}

.bg-opacity-80 {
  background-opacity: 0.80;
}

.z-50 {
  z-index: 50;
}